.board-nav-bar {
    gap: 4px;
    padding: 8px 0 12px 13px;
    // margin-left: 13px;
    background: #ffffff3d;


    @include for-mobile-layout {
        flex-wrap: wrap;
    }

    button {
        height: em(32px);
        font-size: 14px;
        padding: em(6px) em(12px);
        border-radius: 3px;
        border: none;
        display: flex;
        align-items: center;
        background-color: #0000001a;

        &:hover {
            background-color: #00000029;
        }
    }

    .icon {
        height: em(16px);
        width: em(16px);
    }

    .board-name {
        height: em(32px);

        input {
            height: 100%;
            border: none;
            font-size: em(16px);
            font-weight: 700;
            padding: 0 em(12px);
            border-radius: 3px;
            color: #172b4d;
            background-color: transparent;
            margin-right: em(4px);
            font-size: 18px;
            background-color: #ffffff52;
            box-shadow: none;

            &:hover {
                background-color: #ffffff81;
                cursor: pointer;
            }

            &:focus {
                outline: none;
                box-shadow: inset 0 0 0 2px #0079bf;
                background-color: #fff;
                &:hover{
                    cursor: text;
                }
            }
        }

        // margin: 0 4px 0 0;
    }

    .mark-board-starred {
        height: em(32px);
        width: em(32px);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;

        img {
            filter: invert(32%) sepia(24%) saturate(736%) hue-rotate(176deg) brightness(86%) contrast(91%);
        }

        .icon {
            height: em(16px);
            width: em(16px);
        }

        &:hover {
            .icon {
                height: em(19px);
                width: em(19px);
            }

            background-color: rgba(0, 0, 0, 0.1607843137);

            img {
                filter: invert(79%) sepia(44%) saturate(2096%) hue-rotate(7deg) brightness(103%) contrast(103%);
            }
        }

        .star-full {
            img {
                filter: invert(79%) sepia(44%) saturate(2096%) hue-rotate(7deg) brightness(103%) contrast(103%);
            }
        }
    }

    .board-header-divider {
        border-left: 1px solid #ffffff3d;
        float: left;
        height: em(16px);
        // margin: 8px 8px 12px 4px;
        margin: em(8px);

        @include for-mobile-layout {
            display: none;
        }
    }

    .members-container {
        .avatar-container {
            position: relative;
            top: 3px;
        }
    }
    .board-members {
        img {
            width: em(28px);
            height: em(28px);
            border-radius: 50%;
            margin-right: -2px;

            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
            
        }
        .add-members {
            position: relative;
            .share-btn {
                color: #fff;
                background-color: #0079bf;
                margin-left: 10px;

                &:hover {
                    background-color: #026aa7;
                }

                img {
                    fill: currentColor;
                    width: em(16px);
                    height: em(16px);
                    margin-right: em(4px);
                }
            }

            .members-list {
                @include menu-modal;
                position: absolute;
                top: 115%;
                left: 10px;
                width: em(304px);
                box-shadow: 0 8px 16px -4px rgb(9 30 66 / 25%), 0 0 0 1px rgb(9 30 66 / 8%);
                border-radius: 3px;
                z-index: 20;
                background-color: #fff;

                header {
                    position: relative;
                    height: em(40px);
                    border-bottom: 1px solid rgb(222, 227, 231);
                    h4 {
                        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu',
                            'Droid Sans', 'Helvetica Neue', sans-serif;
                        font-size: 14px;
                        font-weight: 400;
                        color: #5e6c84;
                    }

                    button {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(0, -50%);
                        border: none;
                        background-color: transparent;
                        padding: 0;
                        span:hover {
                            color: #172b4d;
                        }
                    }
                }
                .users {
                    margin: 14px 0 0;
                    padding: 0;
                    li {
                        margin-bottom: 7px;
                        padding: 0 12px;
                        height: 44px;

                        &:hover {
                            background-color: rgba(9, 30, 66, 0.08);
                            border-radius: 3px;
                            cursor: pointer;
                        }
                        .user-img {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            margin: 0 10px 0 0;
                        }

                        .user-details {
                            h3 {
                                color: #172b4d;
                                font-size: em(14px);
                            }
                            p {
                                font-size: em(12px);
                                color: #8a909b;
                            }
                        }
                    }
                }
            }
        }
    }

    .right-nav {
        display: flex;
        margin-right: em(8px);
        gap: em(6px);

        button {
            // color: #172b4d;
            color: #ffffff;
        }

        img {
            filter: invert(100%) sepia(54%) saturate(2%) hue-rotate(349deg) brightness(115%) contrast(100%);
            margin-right: em(10px);
            opacity: 0.7;
        }
    }

    .left-nav {
        @include for-mobile-layout {
            flex-wrap: wrap;
            gap: 4px;
        }
        .star-empty{
            img{
                filter: invert(100%) sepia(54%) saturate(2%) hue-rotate(349deg) brightness(115%) contrast(100%);
            }

        }
    }
}
