.label-modal {
  @include menu-modal;

  .label-list {
    margin-bottom: 8px;
    color: #ffffff;

    .label-modal-item {
      gap: 4px;
    }

    h4 {
      margin-bottom: em(8px);
    }

    .task-label {
      transition: border 0.2s;
      width: 100%;
      margin-bottom: 4px;
      justify-content: space-between;
      align-items: center;
      span{
        color: #ffffff;
      }

      p {
        text-align: left;
        font-weight: 700;
        font-family: 'Segoe UI', Roboto, Helvetica, sans-serif;
      }
      &:active {
        color: #fff;
        }
    }

    .task-label:hover {
      border-left: 8px solid rgba(128, 128, 128, 0.5);
    }

    .label-edit-btn {
      background-color: inherit;
      max-width: 32px;
      max-height: 32px;

      &:hover {
        background-color: #091e4214;
      }

      img {
        width: 16px;
        height: 16px;
      }
    }

    .save-label-btn {
      @include button1Blue;
    }
  }
}

.new-label-btn {
  width: 100%;
}
