.td-side-bar {
  margin-top: 85px;
  padding: 0 1rem 1rem 0;

  @include for-mobile-layout {
    padding: 8px;
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18px;

    @include for-mobile-layout {
      display: grid;
      grid-template-columns: 1fr 1fr;
      // padding: 8px;
    }

    .sidebar-btn-container {
      position: relative;

      .sidebar-btn {
        width: 100%;
      }
    }

    .sidebar-modal {
      top: 37px;
      right: 0;

      @include for-mobile-layout {
        position: fixed;
        transform: translate(-10%, 50vh);
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    // .label-modal,
    // .members-modal {
    //   // top: 37px;
    //   right: 0;
    // }
  }

  .icon-div {
    width: 20px;

    .btn-icon {
      width: 16px;
    }
  }

  header {
    padding: 10px;
  }

  button .btn-icon.labels {
    width: 13px;
    margin-inline-end: 8px;
  }
}