.board-details {
    margin-bottom: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100vh - 44px - 7px);

    .group-list {
        align-items: flex-start;
    }

    .add-group {
        height: 40px;
    }

    .add-group-btn {
        background-color: #0079bf;
        border: none;
        color: #fff;
        padding: 6px 12px;
        border-radius: 3px;

        &:hover {
            cursor: pointer;
            background-color: #026aa7;
        }
    }

    .cancel-group-btn {
        border: none;
        color: #6b778c;

        &:hover {
            cursor: pointer;
            color: #172b4d;
        }
    }
}