.board-app {
    margin-top: 40px;

    .left-nav {
        width: 272px;
        padding: 0 16px;
        color: #172b4d;
        font-weight: 700;

        @include for-mobile-layout {
            display: none;
        }

        span,
        li {
            width: 240px;
            height: 32px;
            border-radius: 4px;
            padding: 6px 8px;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 14px;
                height: 14px;
                margin-right: 8px;
            }

            &.boards {
                color: #0079bf;
                background-color: #e4f0f6;
            }
        }
    }

    .main-content {
        width: 855px;
        // padding: 0 16px;
        margin: 0 16px;

        .templates-title {
            img {
                width: em(24px);
                height: em(24px);
            }

            h2 {
                font-weight: 600;
                font-size: em(20px);
                color: #172b4d;
                ;
                margin: 0;
                line-height: em(20px);
            }

            button {
                height: em(32px);
                width: em(32px);
            }
        }

        button {
            background-color: #091e420a;
            width: 194px;
            height: 96px;
            border: none;
            color: #172b4d;
            border-radius: 3px;
            font-family: 'Segoe UI', Roboto, Helvetica, sans-serif;
            transition: 0.11s;

            &:hover {
                background-color: #091e4214;
            }
        }

        .workspace-title {
            font-weight: 700;
            color: #5e6c84;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .board-list {
            flex-wrap: wrap;
            @include for-mobile-layout {
                justify-content: center;
            }
        }
    }

    .create-board {
        position: relative;

        button:active {
            background-color: #e4f0f6;
            color: #0079bf;
        }

        button {
            margin: 0 em(18.9px) em(16.5px) 0;

            @include for-mobile-layout {
                margin-right: 8px;
            }
        }
    }
}