.board-app {
    margin-top: 40px;
    @include for-mobile-layout {
        margin-top: 15px;
    }

    .left-nav {
        width: 272px;
        padding: 0 16px;
        color: #172b4d;
        font-weight: 700;

        @include for-mobile-layout {
            display: none;
        }

        span,
        li {
            width: 240px;
            height: 32px;
            border-radius: 4px;
            padding: 6px 8px;

            &:hover {
                cursor: pointer;
            }

            img {
                width: 14px;
                height: 14px;
                margin-right: 8px;
            }

            &.boards {
                color: #0079bf;
                background-color: #e4f0f6;
            }
        }
    }

    .main-content {
        width: 825px;
        // padding: 0 16px;
        margin: 0 16px 55px;

        .templates-header {
            height: 40px;
            margin-bottom: 14.5px;

            .templates-title {
                img {
                    width: em(24px);
                    height: em(24px);
                    filter: invert(13%) sepia(97%) saturate(449%) hue-rotate(179deg) brightness(97%) contrast(96%);
                }

                h2 {
                    font-weight: 600;
                    font-size: em(20px);
                    color: #172b4d;
                    color: #172b4ddb;
                    margin: 0;
                    line-height: em(20px);
                }
            }

            .close-btn {
                height: em(32px);
                width: em(32px);
                background-color: #f4f5f7;
                cursor: pointer;
                border-radius: 3px;
                transition: 0.2s;

                &:hover {
                    background-color: #dfe1e6;
                }

                .close-icon {
                    font-size: 20px;

                    .i-close.close-icon::before {
                        color: rgb(23, 43, 77);
                    }
                }
            }
        }

        .template-list,
        .filtered-list {
            margin-bottom: 16px;

            @include for-mobile-layout {
                width: 100%;
            }
        }

        .template-list-container,
        .filtered-list-container {
            margin-bottom: 39px;
            @include for-mobile-layout {
                margin-bottom: 0;
            }
        }

        .filtered-boards {
            .filtered-title {
                color: #172b4d;

                span {
                    height: 24px;
                    width: 24px;
                    margin: 0 14px 0 0;
                }

                h3 {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    margin: 5px 0 16px;
                }
            }
        }

        // .template-list, .starred-list {
        //     margin-bottom: 16px;
        // }

        // .template-list-container, .starred-list-container {
        //     margin-bottom: 39px;
        // }

        // .starred-boards {
        //     .starred-title {
        //         color: #172b4d;   
        //         span {
        //             height: 24px;
        //             width: 24px;
        //             margin: 0 14px 0 0;
        //         }
        //         h3 {
        //             font-size: 16px;
        //             font-weight: 700;
        //             line-height: 24px;
        //             margin: 6px 0 16px;
        //         }
        //     }
        // }

        button {
            background-color: #091e420a;
            width: 194px;
            height: 96px;
            border: none;
            color: #172b4d;
            border-radius: 3px;
            font-family: 'Segoe UI', Roboto, Helvetica, sans-serif;
            transition: 0.11s;

            @include for-mobile-layout {
                width: 100%;
            }

            &:hover {
                background-color: #091e4214;
            }
        }

        .workspace-title {
            font-weight: 700;
            color: #5e6c84;
            margin-bottom: 20px;
            font-size: 16px;
        }

        .board-list {
            flex-wrap: wrap;
            gap: 16px;

            @include for-mobile-layout {
                // justify-content: center;
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    .create-board {
        position: relative;

        button:active {
            background-color: #e4f0f6;
            color: #0079bf;
        }

    }
}