@font-face {
    font-family: Charlie;
    src: url("../../assets/fonts/Charlie.otf") format("opentype");
}

@font-face {
    font-family: trellicons;
    src: url("../../assets/fonts/trellicons.ttf");
}
