// COLOR PALETTE
$clr1: #172b4d;
// $clr2: rgb(31, 31, 31);
// $clr3: rgb(251, 251, 251);
// $clr4: darken($clr3, 40%);
// $clr5: #2d2d2d;
// $clr6: darken($clr1, 8%);
// $clr7: darken($clr1, 20%);
$lightTxt1: #5e6c84;
$screen: #0000009a;
$btnBg:#091e420a;
$btnBgHover: #e2e4e9;


// LAYOUT
$layoutPadding: 13px;

// LAYOUT BREAKPOINTS
$break-narrow: 450px;
$break-normal: 700px;
$break-wide: 960px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
