// SETUP
// @import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
@import 'setup/functions';

// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/layout';
@import 'basics/icons';

// COMPONENTS
@import 'components/app-header';
@import 'components/nav-dropdown';
@import 'components/group-list';
@import 'components/group-preview';
@import 'components/task-preview';
@import 'components/board-filter';
@import 'components/board-nav-bar';
@import 'components/board-preview';
@import 'components/label-edit-modal';
@import 'components/task-members-labels';
@import 'components/task-details-desc';
@import 'components/task-details-act';
@import 'components/task-details-sidebar';
@import 'components/group-menu-modal';
@import 'components/todo-modal';
@import 'components/todo-lists';
@import 'components/board-menu';
@import 'components/date-modal';
@import 'components/create-board-modal';
@import 'components/cover-modal';
@import 'components/move-task-modal';

// VIEWS
@import 'views/main-app';
@import 'views/board-app';
@import 'views/board-details';
@import 'views/task-details';
@import 'views/home-page';
