.app-header {
  padding: em(6px) em(13px);
  background-color: #026AA7;
  height: em(44px);
  // background-color: #ebedef;
  // color: set-text-color(#026AA7);

  .logo {
    margin-inline-end: 1em;
    .icon {
      height: em(11px);
      margin: 0 10px 0 0;
    }
  }

  .hidden {
    visibility: hidden;
  }

  .nav-bar {
    justify-content: space-between;

    .nav-links {
      gap: .5em;
    }

    li {
      padding: em(6px, 14px) em(12px, 14px);
      position: relative;

      &.create-btn {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
        cursor: pointer;
        border-radius: 3px;
      }

      &.opened {
        background-color: rgba(0, 0, 0, 0.2);
      }

      span {
        padding-inline-start: .5em;
      }

      img {
        width: .8em;
      }

    }

  }

  .right-side {

    img {
      width: 1.3em
    }
  }


}