.app-header {
    padding: em(6px) em(13px);
    background-color: #026aa7;
    height: em(44px);
    // background-color: #ebedef;
    color: set-text-color(#026aa7);

    .logo {
        margin-inline-end: 1em;
        font-family: trellicons;
        font-size: em(22px);
        cursor: pointer;
        .icon {
            height: em(10px);
            width: em(10px);
            margin: 0 6px 0 0;
            filter: invert(97%) sepia(61%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
            // filter: invert(13%) sepia(15%) saturate(5553%) hue-rotate(195deg) brightness(87%) contrast(91%);
        }
    }

    .nav-dropdown {
        color: $clr1;
    }

    .hidden {
        visibility: hidden;
    }

    .nav-bar {
        justify-content: space-between;

        .nav-links {
            gap: 0.5em;
        }

        li {
            // padding: em(6px, 14px) em(12px, 14px);
            position: relative;

            .nav-btn {
                padding: em(6px, 14px) em(12px, 14px);
            }

            .arrow-down {
                filter: invert(97%) sepia(61%) saturate(13%) hue-rotate(242deg) brightness(103%) contrast(104%);
            }

            &.create-btn {
                background-color: rgba(0, 0, 0, 0.1);
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.2);
                cursor: pointer;
                border-radius: 3px;
            }

            &.opened {
                background-color: rgba(0, 0, 0, 0.2);
            }

            span {
                padding-inline-start: 0.5em;
            }

            img {
                width: 0.8em;
            }
        }
    }

    .right-side {
        img {
            width: 1.3em;
        }
    }
}
