.board-nav-bar {
    gap: 4px;
    padding: 8px 0 12px;
    margin-left: 13px;
    @include for-mobile-layout {
        flex-wrap: wrap;
    }

    button {
        height: em(32px);
        font-size: 14px;
        padding: em(6px) em(12px);
        border-radius: 3px;
        border: none;
        display: flex;
        align-items: center;
        background-color: #0000001A;

        &:hover {
            background-color: #00000029;
        }

    }

    .icon {
        height: em(16px);
        width: em(16px);
    }

    .board-name {
        height: em(32px);

        input {
            height: 100%;
            border: none;
            font-size: em(16px);
            font-weight: 700;
            padding: 0 em(12px);
            border-radius: 3px;
            color: #172b4d;
            background-color: transparent;
            margin-right: em(4px);
            font-size: 18px;
            background-color: #ffffff52;
            &:hover {
                background-color: #ffffff81;
                cursor: pointer;
            }

            &:focus {
                outline: none;
                box-shadow: inset 0 0 0 2px #0079bf;
                background-color: #FFF;
            }
        }

        // margin: 0 4px 0 0;
    }

    .mark-board-starred {
        height: em(32px);
        width: em(32px);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;

        img {
            filter: invert(32%) sepia(24%) saturate(736%) hue-rotate(176deg) brightness(86%) contrast(91%);
        }
        .icon {
                height: em(16px);
                width: em(16px);
        }    

        &:hover {
            .icon {
                height: em(19px);
                width: em(19px);
            }        
            background-color: rgba(0, 0, 0, 0.1607843137);
            img {
                filter: invert(79%) sepia(44%) saturate(2096%) hue-rotate(7deg) brightness(103%) contrast(103%);
            }
        }

        .star-full {
            img {
                filter: invert(79%) sepia(44%) saturate(2096%) hue-rotate(7deg) brightness(103%) contrast(103%);
            }
        }
    }

    .board-header-divider {
        border-left: 1px solid #ffffff3d;
        float: left;
        height: em(16px);
        // margin: 8px 8px 12px 4px;
        margin: em(8px);
        @include for-mobile-layout {
            display: none;
        }
    }

    .board-members {

        img {
            width: em(28px);
            height: em(28px);
            border-radius: 50%;


            &:hover {
                opacity: .8;
                cursor: pointer;
            }
        }

        .share-btn {
            color: #FFF;
            background-color: #0079BF;
            margin-left: 10px;


            &:hover {
                background-color: #026AA7;
            }

            img {
                fill: currentColor;
                width: em(16px);
                height: em(16px);
                margin-right: em(4px);
            }
        }
    }

    .right-nav {
        display: flex;
        margin-right: em(8px);
        gap: em(6px);
        
        button {
            color: #172b4d;
            // color: #3d506c;
        }

        img {
            margin-right: em(10px);
            opacity: .7;
        }
    }
    .left-nav{
        @include for-mobile-layout {
            flex-wrap: wrap;
            gap: 4px;
        }
    }
}