.board-menu {
  @include menu-modal;
  padding: 0px 0px 0px 12px;
  position: fixed;
  right: -100%;
  top: em(44px);
  width: em(340px);
  height: calc(100vh - 44px);
  background-color: #f4f5f7;
  z-index: 10;
  border-radius: 0;
  overflow-y: hidden;
  // overflow-y: auto;
  overflow-x: hidden;
  transition: .3s;

  &.open {
    right: 0;
  }

  .close-modal {
    right: 6px;
  }

  p,
  .close-modal,
  .back-btn {
    color: #172b4d;
    opacity: 0.8;
  }

  p {
    font-size: 16px;
    padding: 14px 32px;
    font-weight: 600;
  }

  // .close-modal {
  //     opacity: 1;
  // }

  li {
    padding: 6px;
    border-radius: 3px;
    font-weight: 600;
    padding-left: 10px;
    // padding-bottom: 14px;

    &:hover {
      background-color: #091e4214;
    }

    .bg {
      width: 20px;
      height: 20px;
      border-radius: 3px;
      margin-right: 12px;
    }

    &.activity-title {
      gap: 11px;
      font-weight: 700;
    }

    .icon-sm {
      font-weight: 400;
    }
  }

  .list-saperator {
    margin-top: 8px;
    overflow-y: auto;
    max-height: calc(100vh - 140px);
  }

  .query-input {
    min-width: 97%;
    height: 36px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 3px;
    border: none;
    outline: none;
    box-shadow: inset 0 0 0 2px #dfe1e6;
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;
    padding-left: 16px;

    &:focus {
      box-shadow: inset 0 0 0 2px #0079bf;
      border: none;
      outline: #0079bf;

    }
  }

  main {
    gap: 8px;
    padding-top: 6px;

    .image {
      width: em(152.5px);
      height: em(96px);
      border-radius: 8px;

      // margin-bottom: 8px;
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    .title {
      text-align: center;
    }

    &.bg-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .loader{
      position: absolute;
      top: 30%;
    }
  }

}

.user-activity {
  justify-content: flex-start;
  margin: 8px 0px 16px 1px;

  img {
    border-radius: 50%;
    width: em(32px);
    height: em(32px);
  }

  .txt-container {
    margin-left: 8px;

    .date {
      font-size: 12px;
      color: #5e6c84;
    }
  }

  span {
    font-weight: 700;
  }
}