.board-nav-bar {
    gap: 4px;

    .icon {
        height: em(16px);
        width: em(16px);
    }

    .board-name {
        height: em(32px);
        input {
            height: 100%;
            border: none;
            font-size: em(16px);
            font-weight: 700;
            padding: 0 12px;
        }
        // margin: 0 4px 0 0;
    }

    .mark-board-starred {
        height: em(32px);
        width: em(32px);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .board-header-divider {
        border-left: 1px solid #ffffff3d;
        float: left;
        height: 16px;
        margin: 8px 8px 12px 4px;
    }
}
