.board-nav-bar {
    gap: 4px;

    button {
        height: em(32px);
        padding: 6px 12px;
        border-radius: 3px;
        border: none;
        display: flex;
        align-items: center;

    }

    .icon {
        height: em(16px);
        width: em(16px);
    }

    .board-name {
        height: em(32px);

        input {
            height: 100%;
            border: none;
            font-size: em(16px);
            font-weight: 700;
            padding: 0 12px;
        }

        // margin: 0 4px 0 0;
    }

    .mark-board-starred {
        height: em(32px);
        width: em(32px);
        border-radius: 3px;
        background-color: rgba(0, 0, 0, 0.1);
    }

    .board-header-divider {
        border-left: 1px solid #ffffff3d;
        float: left;
        height: 16px;
        margin: 8px 8px 12px 4px;
    }

    .board-members {
        img {
            width: em(28px);
            height: em(28px);
            border-radius: 50%;
        }

        .share-btn {
            color: #FFF;
            background-color: #0079BF;

            &:hover {
                background-color: #026AA7;
            }

            img {
                fill: currentColor;
                width: 16px;
                height: 16px;
            }
        }
    }

    .right-nav {
        display: flex;
        margin-right: 8px;
        gap: 6px;
        img {
            margin-right: 10px;
            opacity: .7;
        }
    }
}