.cover-modal {
  @include menu-modal;
  overflow-y: scroll;
  max-height: 500px;
  header {
    position: sticky;
    background-color: #ffffff;
    top: 0;
  }
  .modal-main {
    gap: 8px;
    button {
      display: flex;
      justify-content: center;
    }
  }
  .cover-color-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: em(8px);
  }
  .cover-color {
    width: em(50px);
    height: em(32px);
    cursor: pointer;
    border-radius: 3px;
    &:hover {
      opacity: 0.7;
    }
  }
  .default-img-list {
    grid-template-columns: repeat(3, 1fr);
    gap: em(8px);

    li {height: 48px;}
    img.image {
      opacity: 1;
      height: 48px;
      width: 88px;
      border-radius: 3px;
      &:hover {
        opacity: 0.75;
      }
    }
  }

  .search-btn {
    background-color: rgba(9, 30, 66, 0.0392156863);
    color: #172b4d;
    border-radius: 3px;
    font-family: "Segoe UI", Roboto, Helvetica, sans-serif;
    border: none;
    &:hover {
      background-color: rgba(9, 30, 66, 0.0784313725);
    }
  }

  .search-photos-btn {
    width: 100%;
  }
  .search-photos-container {
    .query-input {
      width: 100%;
      height: 36px;
      margin-bottom: 8px;
      padding: 8px;
    }
    .query-photo-list {
      align-items: start;
      max-width: 520px;
      overflow-y: scroll;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
      img {
        opacity: 1;
        border-radius: 3px;
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
}
