.group-preview {
  background-color: #ebecf0;
  padding: 0 4px 0 8px;
  min-width: 272px;
  width: 272px;
  margin-right: 8px;
  border-radius: 3px;
  // overflow-y: hidden;
  // overflow-x: hidden;
  max-height: calc(100vh - 123px);
  @include for-mobile-layout {
    width: 85vw;
    max-height: 65vh;
}

  main {
    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      // background: #e8e7e79e;
      background: rgb(129 126 151 / 17%);
      border-radius: 7px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgb(7 11 35 / 8%);
      // background: #f6f6f69d;
      border-radius: 7px;
    }
  }

  header {
    min-height: 40px;
    align-items: center;
    .watched-icon {
      img {
        width: em(16px);
      }
    }
  }
}

.group-title {
  border: none;
  background-color: transparent;
  padding-inline-start: 0.6em;
  height: 28px;
  font-weight: 500;
  flex-grow: 1;
  color: #172b4d;
  font-family: Segoe UI, Roboto, Helvetica, sans-serif;
  cursor: pointer;
}

.group-title:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #0079bf;
  background-color: #fff;
  border-radius: 3px;
}

.list-action-btn {
  padding: 6px;
  width: 32px;
  height: 32px;
  text-align: center;
  border-radius: 3px;
  position: relative;

  img {
    filter: invert(50%) sepia(10%) saturate(724%) hue-rotate(180deg) brightness(90%) contrast(95%);
    width: 16px;
  }
  
  &:hover {
    background-color: #091e4214;
    cursor: pointer;

    img {
      filter: invert(15%) sepia(11%) saturate(4386%) hue-rotate(183deg)
        brightness(92%) contrast(94%);
    }
  }

  .add-card-btn {
    background-color: #0079bf;
    border: none;
    color: #fff;
    padding: 6px 12px;
    border-radius: 3px;
    height: 32px;
    margin-right: 4px;

    &:hover {
      cursor: pointer;
      background-color: #026aa7;
    }
  }

  .cancel-card-btn {
    border: none;
    color: #6b778c;
    height: 32px;
    width: 32px;

    &:hover {
      cursor: pointer;
      color: #172b4d;
    }

    img {
      width: 25px;
      height: 25px;
      filter: invert(42%) sepia(11%) saturate(906%) hue-rotate(179deg)
        brightness(95%) contrast(91%);

      &:hover {
        filter: invert(15%) sepia(11%) saturate(4386%) hue-rotate(183deg)
          brightness(92%) contrast(94%);
      }
    }
  }



}

.add-a-card-btn {
  width: 228px;
  height: 28px;
  text-align: left;
  border: none;
  border-radius: 3px;
  color: #5e6c84;
  background-color: #ebecf0;
  display: flex;
  align-items: center;
  padding: 0 6px 0 12px;
  gap: 5px;

  &:hover {
    cursor: pointer;
    background-color: #091e4214;
    color: #172b4d;
  }

  img {
    width: 16px;
    height: 16px;
    filter: invert(42%) sepia(11%) saturate(906%) hue-rotate(179deg)
      brightness(95%) contrast(91%);
  }
}

.add-card-btn {
  background-color: #0079bf;
  border: none;
  color: #fff;
  padding: 6px 12px;
  border-radius: 3px;
  height: 32px;
  margin-right: 4px;

  &:hover {
    cursor: pointer;
    background-color: #026aa7;
  }
}

.cancel-card-btn {
  border: none;
  color: #6b778c;
  height: 32px;
  width: 32px;

  &:hover {
    cursor: pointer;
    color: #172b4d;
  }

  img {
    width: 25px;
    height: 25px;
    filter: invert(42%) sepia(11%) saturate(906%) hue-rotate(179deg)
      brightness(95%) contrast(91%);

    &:hover {
      filter: invert(15%) sepia(11%) saturate(4386%) hue-rotate(183deg)
        brightness(92%) contrast(94%);
    }
  }
}

.add-task {
  width: 100%;
  padding: 0 4px 0 0;
  textarea {
    overflow-wrap: break-word;
    overflow-y: auto;
    resize: none;
    // height: 54px;
    min-height: 66px;
    max-height: 168px;
    width: 100%;
    font-family: Segoe UI, Roboto, Helvetica, sans-serif;
    font-size: 14px;
    padding: 6px 8px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #091e4240;
    border: none;
    margin: 0 8px 4px 0;

    &:focus {
      outline: none;
    }
  }
}

footer {
  margin-top: 4px;
  margin-bottom: 8px;
}

form {
  width: 100%;
}