.drop-preview {
    background-color: rgba(101, 101, 101, 0.377);
    margin: 5px 5px 5px 0;
    width: 248px;
    border-radius: 3px;
}


.groups-container{
    background-color: red;
    // height:auto;
}
.cards-drop-preview {
    width: 272px;
    background-color: rgba(89, 89, 89, 0.377);
    border-radius: 3px;
    margin: 0 8px 0 0;
    min-height: 10px;
    max-height: 100%;

}


// .card-scene {
// .group-list {
//     width: 272px;
//     height: 100%;
//     background-color: aqua;
body.smooth-dnd-no-user-select {
    & .smooth-dnd-draggable-wrapper {
        // :not(.animated){
        // &.animated{
        //     background-color: red;
        //     height: 100%;
        //     transition: transform 0.18s ease;
        //     transform: rotateZ(5deg);
        // // &.card-ghost {
        // //     transition: transform 0.18s ease;
        // //     transform: rotateZ(5deg);
        // //     background-color: red;
        // //     height: 20px;
        // //     width: 200px;
        // // }
        // }
    }

}
    .card-container {
        // width: 320px;
        // padding: 10px;
        // margin: 5px;
        // margin-right: 45px;
        // background-color: #f3f3f3;
        // box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.24);
    // }

    .smooth-dnd-draggable-wrapper {
        &:not(.animated){
        // &.animated{
        //     // background-color: red;
        //     height: 100%;
        //     transition: transform 0.18s ease;
        //     transform: rotateZ(5deg);
        // &.card-ghost {
        //     transition: transform 0.18s ease;
        //     transform: rotateZ(5deg);
        //     background-color: red;
        //     height: 20px;
        //     width: 200px;
        // }
        }
    }
.task-container {

    .card-ghost {
        transition: transform 0.18s ease;
        transform: rotateZ(5deg);
        // background-color: red;
    }

}
    // .card-ghost-drop {
    //     transition: transform 0.18s ease-in-out;
    //     transform: rotateZ(0deg);
    // }

    // .opacity-ghost {
    //     transition: all 0.18s ease;
    //     opacity: 0.8;
    //     /* transform: rotateZ(5deg); */
    //     background-color: cornflowerblue;
    //     box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.3);
    // }

    // .opacity-ghost-drop {
    //     opacity: 1;
    //     /* transform: rotateZ(0deg); */
    //     background-color: white;
    //     box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0);
    // }

    .form {
        flex: 3;
        /* width: 500px; */
        /* background-color: #f3f3f3; */
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 6px;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08), 0px 3px 3px rgba(0, 0, 0, 0.08);
    }

    // .form-fields-panel {
    //     flex: 1;
    //     margin-right: 50px;
    // }

    // .form-ghost {
    //     transition: 0.18s ease;
    //     box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.08);
    // }

    // .form-ghost-drop {
    //     box-shadow: 0 0 2px 5px rgba(0, 0, 0, 0);
    // }
// .card {

    // .card-ghost {
    //     transition: transform 0.18s ease;
    //     transform: rotateZ(5deg);
    //     background-color: red;
    //     height: 20px;
    //     width: 200px;
    // }

    .card-ghost-drop {
        transition: transform 0.18s ease-in-out;
        transform: rotateZ(0deg);
    }

// }

}
