.move-task-modal {
  @include menu-modal;
  select {
    -webkit-appearance: none;
    height: 50px;
    outline: none;
    border: none;
    background-color: $btnBg;
    border-radius: 3px;
    width: 100%;
    padding: 6px 12px;
    font-family: inherit;
    cursor: pointer;
    &:hover {
      background-color: $btnBgHover;
    }
  }
  .dest-select {
    position: relative;
  }
  label {
    position: absolute;
    font-size: 12px;
    left: 12px;
    opacity: 0.75;
  }
  .select-container {
    width: 100%;
    gap: 8px;
    margin-bottom: 8px;
    .pos-dest{
        width:80px;
    }
    .list-dest {
      flex-grow: 1;
    }
  }
  .move-btn {
    @include button1Blue;
  }
}
