.task-details {
  padding: 1rem;
  border-radius: 2px;
  z-index: 3;
  width: 768px;
  height: 1809px;
  position: fixed;
  top: 48px;
  right: 50%;
  transform: translateX(50%);
  background-color: #f4f5f7;
  grid-template: auto/1fr 168px;
  color: #172b4d;
  gap: 1rem;
  max-height: 90%; //edit later

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    margin: 0;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  h4 {
    color: $lightTxt1;
    font-size: 12px;
    font-weight: 600;
  }
  button {
    color: inherit;
    font-size: 1em;
    background-color: $btnBg;
    border: none;
    border-radius: 3px;
    height: 32px;
    padding: 6px 12px;
    &:hover {
      background-color: #e2e4e9;
    }
  }

  img {
    opacity: 0.6;
  }

  .desc-txt {
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
  }
  .round-btn {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    &.close-btn {
      background-color: transparent;
      height: 35px;
      width: 35px;
      margin: 4px;
      position: absolute;
      right: 0;
      &:hover {
        background-color: $btnBg;
      }
    }
  }
  .label-container {
    gap: 4px;
    .task-label {
      color: #ffffff;
    }
  }

  .members-labels-data {
    position: relative;
  }

  .members-modal {
    @include menu-modal;
    .members-modal-item {
      .task-member {
        width: 100%;
        border-radius: 0;
        background-color: #ffffff;
        height: 40px;
        &:hover {
          background-color: $btnBg;
        }
      }
    }
  }

  .members-labels-data {
    .label-modal,
    .members-modal {
      top: 60px;
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18px;
    button {
      position: relative;
      display: flex;
      align-items: center;
      gap: 6px;
    }
    .label-modal,
    .members-modal {
      top: 37px;
      right: 0;
    }
  }

  .task-group {
    color: $lightTxt1;
  }

  .td-desc {
    height: 56px;
    border-radius: 3px;
    background-color: $btnBg;
    border: none;
    width: 100%;
    padding: 1rem 0 0 1rem;
    font-family: inherit;
    resize: none;
    outline: none;
    cursor: pointer;
    &:hover {
      background-color: #e2e4e9;
    }
    &.open {
      background-color: #ffffff;
      height: 108px;
      cursor: auto;
    }
    &-btns {
      display: flex;
      gap: 4px;
      margin: 4px 0;
      :first-child {
        background-color: #1b6aa7;
        color: #ffffff;
      }
      button {
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }

  .btn-icon {
    width: 21px;
  }

  button .btn-icon.labels {
    width: 13px;
    margin-inline-end: 8px;
  }

  .title-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .td {
    &-icon {
      max-height: 32px;
      max-width: 32px;
    }
    &-title {
      height: 32px;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
  }
  header .td-icon {
    padding: 4px;
  }
  .td-plus {
    width: 18px;
    height: 18px;
  }
  .activity-menu {
    box-shadow: 0 4px 8px -2px #091e4240, 0 0 0 1px #091e4214;
    border-radius: 3px;
    width: calc(100% - 1px);
    .activity-input {
      cursor: pointer;
      border-radius: inherit;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      width: 100%;
      padding: 8px 12px;
      height: 36px;
      border: none;
      outline: none;
      &.open {
        cursor: auto;
      }
    }
    .activity-btns {
      border-radius: inherit;
      width: 100%;
      padding: 8px 12px;
      background-color: #ffffff;
    }
  }
  .memberImg {
    opacity: 1;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    cursor: pointer;
    margin-inline-end: 0.2em;
  }

  .td-side-bar {
    margin-top: 85px;
  }

  .act-btn {
    background-color: transparent;
    & img {
      height: 20px;
      width: 20px;
    }
  }
}

.td-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.td-section > * {
  display: grid;
  grid-template-columns: minmax(32px, auto) 1fr;
  gap: 1rem;
  .task-group {
    grid-column: 2;
  }
  .members-labels-data {
    grid-column: 2;
    gap: 18px;
  }
}
