.task-details {
  border-radius: 2px;
  z-index: 1;
  width: 768px;
  height: 1809px;
  position: fixed;
  top: 48px;
  right: 50%;
  transform: translateX(50%);
  background-color: #f4f5f7;
  padding: 20px;
  grid-template: auto/1fr 168px;
  gap: 16px;
  color: #172b4d;

  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    margin: 0;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  h4 {
    color: #5e6c84;
    font-size: 12px;
    font-weight: 600;
  }
  button {
    color: inherit;
    font-size: 1em;
    background-color: #091e420a;
    border: none;
    border-radius: 3px;
    height: 32px;
    padding: 6px 12px;
    &:hover {
      background-color: #e2e4e9;
    }
  }

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18px;
  }

  .round-btn {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-inline-start: 0.2em;
    display: flex;
    justify-content: center;
    &.close-btn {
      align-items: center;
      background-color: transparent;
      height: 32px;
      width: 32px;
      margin: 4px;
      position: absolute;
      right: 0;
      &:hover {
        background-color: #091e420a;
      }
    }
  }
  .label-container {
    gap: 4px;
    .task-label {
      color: #ffffff;
      &:hover {
        opacity: 0.75;
      }
    }
  }
  .td-main {
    gap: 2rem;
  }

  .td-header {
    min-height: 116px;
    background-color: #ef7564;
  }

  .title-box {
    display: flex;
    align-items: center;
    height: 48px;
    margin-bottom: 12px;
  }

  .td-desc {
    box-sizing: content-box;
    height: 56px;
    border-radius: 3px;
    background-color: #091e420a;
    border: none;
    width: calc(100% - 58px);
    margin-inline-start: 40px;
    padding: 1rem 0 0 1rem;
    box-shadow: none; //remove later
    &.open {
      background-color: #ffffff;
      height: 108px;
      outline: 2px solid #1b6aa7;
    }
    &-btns {
      display: flex;
      gap: 4px;
      margin: 4px;
      margin-inline-start: 40px;
      :first-child {
        background-color: #1b6aa7;
        color: #ffffff;
      }
      button {
        &:hover {
          opacity: 0.75;
        }
      }
    }
  }
  .activity-menu {
    width: calc(100% - 16px);
    .activity-input {
      width: 100%;
      height: 36px;
      padding: 8px 12px;
      border: none;
      outline: none;
    }

    .activity-btns {
      background-color: #ffffff;
      width: 100%;
      button {
        background-color: transparent;
      }
    }
  }
  .td-top-container {
    gap: 8px;
  }
  .membersImgs {
    justify-content: flex-end;

    span {
      margin-inline-start: 0.2em;
    }

    img {
      border-radius: 50%;
      width: 2em;
      height: 2em;
    }
  }
}
