.task-details {
  padding: 1rem;
  border-radius: 2px;
  z-index: 3;
  width: 768px;
  height: 1809px;
  position: fixed;
  top: 48px;
  right: 50%;
  transform: translateX(50%);
  background-color: #f4f5f7;
  grid-template: auto/1fr 168px;
  color: #172b4d;
  gap: 1rem;
  max-height: 90%; //edit later
  h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 4px;
    margin: 0;
    width: 100%;
    padding: 3px;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
  h4 {
    color: $lightTxt1;
    font-size: 12px;
    font-weight: 600;
  }
  button {
    color: inherit;
    @include button1;
  }

  img {
    opacity: 0.6;
  }

  .round-btn {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    &.close-btn {
      background-color: transparent;
      height: 35px;
      width: 35px;
      margin: 4px;
      position: absolute;
      right: 0;
      img {
        height: 20px;
        width: 20px;
      }
      &:hover {
        background-color: $btnBg;
      }
    }
  }

  .members-modal {
    @include menu-modal;
    .members-modal-item {
      .task-member {
        width: 100%;
        border-radius: 0;
        background-color: #ffffff;
        height: 40px;
        &:hover {
          background-color: $btnBg;
        }
      }
    }
  }
  .task-group {
    color: $lightTxt1;
  }

  .title-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .td {
    &-icon {
      max-height: 32px;
      max-width: 32px;
    }
    &-title {
      height: 32px;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
  }
  header .td-icon {
    padding: 4px;
  }
  .td-plus {
    width: 18px;
    height: 18px;
  }

  .memberImg {
    opacity: 1;
    border-radius: 50%;
    width: 2em;
    height: 2em;
    margin-inline-end: 0.2em;
  }
}

.td-section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.td-section > * {
  display: grid;
  grid-template-columns: minmax(32px, auto) 1fr;
  gap: 1rem;
  .task-group {
    grid-column: 2;
  }
}
