.task-preview {
    background-color: white;
    // width: 248px;
    padding: 6px 8px;
    margin-bottom: 8px;
    box-shadow: 0 1px 0 #091e4240;
    position: relative;
    color: #172b4d;
    margin: 0 4px 8px 0;
    border-radius: 3px;
    // min-height: 64px;

    &:hover {
        background-color: #f4f5f7;
        cursor: pointer;

        .edit-btn {
            opacity: 1;
        }
    }

    .edit-btn {
        position: absolute;
        right: .1em;
        top: .1em;
        width: 2em;
        height: 2em;
        border-radius: 3px;
        text-align: center;
        opacity: 0;
        width: em(28px);
        height: em(28px);
        

        img {
            width: em(16px);
            height: em(16px);
            opacity: .5;
        }

        &:hover {
            background-color: #ececf0;
            img{
                opacity: .7;

            }
        }
    }

    .label {
        // padding-bottom: 6px;
        margin-bottom: 6px;
        display: inline-block;
        width: 40px;
        height: .57em;
        margin-inline-end: .2em;
        border-radius: 10px;
    }

    .membersImgs {
        justify-content: flex-end;

        span {
            margin-inline-start: .2em;
            display: flex;
            justify-content: flex-end;
        }

        img {
            border-radius: 50%;
            width: 2em;
            height: 2em;
        }
    }

    p {
        overflow-wrap: break-word;
        margin-bottom: 4px;

    }
}