.td-side-bar {
  margin-top: 85px;

  .btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 18px;

    .sidebar-btn-container {
      position: relative;
      button {
        width: 100%;
      }
    }

    button {
      display: flex;
      align-items: center;
      gap: 6px;
    }
    .label-modal,
    .members-modal {
      top: 37px;
      right: 0;
    }
  }
  .btn-icon {
    width: 21px;
  }
  button .btn-icon.labels {
    width: 13px;
    margin-inline-end: 8px;
  }
}
