.members-labels-data {
  grid-column: 2;
  gap: 18px;
  position: relative;
  margin-bottom: 9px;
  header {
    padding: 10px;
  }

  .label-modal,
  .members-modal {
    top: 60px;
    header {
      padding: 10px;
    }
  }

  .label-container {
    gap: 4px;

    .task-label {
      color: #ffffff;
      min-width: em(40px);
    }

    .add-label {
      width: em(32px);
      height: em(32px);
      padding: 8px;

      img {
        width: em(16px);
        height: em(16px);
      }
    }
  }

  .membersImgs {
    align-items: center;
  }
}
