* {
  box-sizing: border-box;
}

html {
  font-family: Bahnschrift, sans-serif;
}

body {
  color: $clr1;
  margin: 0;
  font-family: BlinkMacSystemFont, 'Segoe UI', Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  // overflow: hidden;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: rem(30px);
  margin: 0;
}

h2 {
  font-size: em(30px);
  margin: em(16px) 0;
}

h3 {
  font-size: em(29px);
}

img {
  width: 100%;
}

input {
  font-family: Segoe UI, Roboto, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

p {
  margin: 0;
  max-width: 60ch;

  .main-text & {
    grid-column: 3 / 6;
    font-size: rem(22px);
    line-height: 1.384615;
    padding-inline-start: rem(30px);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 8px;
      height: 100%;
      max-height: 42px;
      background-color: $clr1;

      @include for-wide-layout {
        width: 10px;
      }
    }

    @include for-wide-layout {
      grid-column: 3 / 5;
      font-size: rem(26px);
    }
  }
}

::-webkit-scrollbar-track {
  margin: 0 48px 0 35px;
  background: #0000002a;
  height: 11px;
  border-radius: 10px;
  border: solid 8px transparent;
}

::-webkit-scrollbar-thumb {
  background: #f6f6f69d;
  border-radius: 10px;
  border: solid 8px transparent;
}

// ::-webkit-scrollbar-thumb:hover {
//   background: #091e4214;
// }

// .btn {
//   // @include btn;

//   &-dark {
//     // @include btn($type: dark);
//   }

//   &-light {
//     // @include btn($type: light);
//   }
// }

// links
a {
  color: blue;
  text-decoration: none;
}

button {
  &:hover {
    cursor: pointer;
  }
}

.screen {
  position: fixed;
  inset: 0;
  z-index: 2;
  pointer-events: none;

  &.show {
    background-color: $screen;
    pointer-events: auto;
    overflow-y: scroll;
  }
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  img {
    width: 50px;
    height: 50px;
  }
}